<!-- LAYOUT DE LA APLICACIÓN (LOGUEADO) -->
<mat-sidenav-container class="app-container" *ngIf="isLoggedIn()">
  <mat-sidenav 
    #sidenav 
    [mode]="isMobile ? 'over' : 'side'" 
    [opened]="sidebarOpen"
    (closed)="sidebarOpen = false"
    class="app-sidenav">
    
    <app-sidebar (navigate)="closeMobileMenu()"></app-sidebar>
    
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    
    <app-header (toggleMenu)="sidenav.toggle()"></app-header>
    
    <main class="main-body">
      <router-outlet></router-outlet>
    </main>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- PANTALLA COMPLETA (LOGIN) -->
<ng-container *ngIf="!isLoggedIn()">
  <router-outlet></router-outlet>
</ng-container>
