.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav {
  background: transparent;
  border-right: none;
  /* El ancho fijo evita que mat-sidenav empuje el contenido al hacer hover */
  width: 80px;
  overflow: visible !important; /* Permite que el hover se salga del sidenav */
  
  ::ng-deep .mat-drawer-inner-container {
    overflow: visible !important;
  }
}

/* Permitimos que app-sidebar sea bloque para que se adapte */
app-sidebar {
  display: block;
  height: 100%;
}

.app-content {
  display: flex;
  flex-direction: column;
}

.main-body {
  padding: 24px;
  flex: 1;
  overflow: auto;
}

/* En móvil el sidenav se auto-ajusta, pero evitamos que el hover cause rarezas */
@media (max-width: 767px) {
  .app-sidenav {
    width: 256px;
  }
}
